/* Footer  box1------------------------ */

.footer {
  background-color: #393939;
  padding: 62px 0 26px 0;
  .footer-box { width:40%; }
  .footer-detail-box { 
    h3 {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      padding: 3px 0 25px 0;
    }
    ul li {
      display: inline-block;
      width: 100%;
      padding-bottom: 20px;
      line-height: 16px;
      a {
        color: #ccc;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
      }
    }
  }
}

/* Footer  box2------------------------ */

.footer {
  .footer-logo {
    display: inline-block;
  }
  .house-listed-detail {
    padding: 25px 0;
    h4 {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      width: 55%;
      &:first-child {
        width: 42%;
      }
      > span {
        display: inline-block;
        width: 100%;
        font-weight: 300;
        padding: 5px 0 0 0;
      }
    }
  }
  .footer-social-media li {
    display: inline-block;
    margin: 25px 0 0 5px;
    a {
      display: inline-block;
      width: 32px;
      background-color: #fff;
      border-radius: 2px;
      text-align: center;
      line-height: 28px;
      i {
        color: #393939;
        font-size: 20px;
        padding: 8px 0 0 0;
      }
      &:hover {
        background-color: #1e7ee6;
        i {
          color: #fff;
        }
      }
    }
  }
}

/* Footer  copyright------------------------ */

.footer {
	.copyright-text {
	  text-align: center;
	  font-size: 16px;
	  padding: 40px 0 0 0;
    color: #fff;
  }
}
